.main {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-image: url("back.jpg");
    background-attachment: fixed;
    overflow: auto;
}

.quadratic {
    overflow: hidden;
    color: #ffffff;
    cursor: pointer;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}