@font-face {
  src: url('../fonts/bpg_square_mtavruli_2009.ttf');
  font-family: 'BPG Square Mtavruli';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../fonts/bpg_square_2009.ttf');
  font-family: 'BPG Square';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../fonts/digital-7.ttf');
  font-family: 'Digital-7';
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'BPG Square',Sans-Serif,Serif,Helvetica,Arial;
  font-size: 16px;
  line-height: 1.5;
  background: #fafafa;
  color: #333;
}

body {
  overflow-x: hidden;
}

ul, ol {
  margin: 0;
}

input, textarea, select, button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
}

h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-family: 'BPG Square Mtavruli';
}

p {
  margin: 0;
}

a {
  color: #4CAF50;
  text-decoration: none;
  outline: 0;
  border: 0;
  transition: color .2s ease;
}

a:hover, a:focus {
  color: #388E3C;
  text-decoration: none;
}

a:active {
  color: #1B5E20;
  text-decoration: none;
}

.fs-table,
.fs-row,
.fs-col {
  width: 100%;
  height: 100%;
}

.fs-table {
  display: table;
  text-align: center;
}

.fs-row {
  display: table-row;
}

.fs-col {
  display: table-cell;
  vertical-align: middle;
}

.fs-item {
  display: inline-block;
}

.img {
  display: block;
}

.img.responsive {
  width: 100%;
}

.block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.block.small {
  padding-top: 30px;
  padding-bottom: 30px;
}

.boxer {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 20px;
}

.boxer.for-text {
  padding: 15px 20px;
}

.divider {
  margin: 20px auto 40px;
  width: 60px;
  height: 6px;
  background: #4CAF50;
  border-radius: 3px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 10px;
}

// .list li:last-child {
//   margin: 0;
// }

.clearfix:before,
.container:before,
.row:before {
  content: "";
  display: table;
}

.clearfix:after,
.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;
}

.text-lg {
  font-size: 1.2em;
}

.text-md {
  font-size: 0.9em;
}

.text-sm {
  font-size: 0.8em;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.overflower {
  overflow: hidden;
}

::selection {
  background: rgba(0,0,0,.8);
  color: #fff;
  text-shadow: none;
}
