.container {
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 1170px;
}

.container.fluid {
  width: auto !important;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container.wide {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container.wide {
    width: 1280px;
  }
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.row.sm {
  margin-right: -5px;
  margin-left: -5px;
}

.row.none {
  margin-left: 0;
  margin-right: 0;
}

.col {
  box-sizing: border-box;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.row.sm .col {
  padding-right: 5px;
  padding-left: 5px;
}

.row.none .col {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 767px) {
  .col.xl-1,
  .col.xl-2,
  .col.xl-3,
  .col.xl-4,
  .col.xl-5,
  .col.xl-6,
  .col.xl-7,
  .col.xl-8,
  .col.xl-9,
  .col.xl-10,
  .col.xl-11,
  .col.xl-12,
  .col.lg-1,
  .col.lg-2,
  .col.lg-3,
  .col.lg-4,
  .col.lg-5,
  .col.lg-6,
  .col.lg-7,
  .col.lg-8,
  .col.lg-9,
  .col.lg-10,
  .col.lg-11,
  .col.lg-12,
  .col.md-1,
  .col.md-2,
  .col.md-3,
  .col.md-4,
  .col.md-5,
  .col.md-6,
  .col.md-7,
  .col.md-8,
  .col.md-9,
  .col.md-10,
  .col.md-11,
  .col.md-12 {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .col.sm-1,
  .col.sm-2,
  .col.sm-3,
  .col.sm-4,
  .col.sm-5,
  .col.sm-6,
  .col.sm-7,
  .col.sm-8,
  .col.sm-9,
  .col.sm-10,
  .col.sm-11,
  .col.sm-12,
  .col.xs-12 {
    width: 100%;
  }
  .col.xs-1 {
    width: 8.333333%;
  }
  .col.xs-2 {
    width: 16.666666%;
  }
  .col.xs-3 {
    width: 25%;
  }
  .col.xs-4 {
    width: 33.333333%;
  }
  .col.xs-5 {
    width: 41.666666%;
  }
  .col.xs-6 {
    width: 50%;
  }
  .col.xs-7 {
    width: 58.333333%;
  }
  .col.xs-8 {
    width: 66.666666%;
  }
  .col.xs-9 {
    width: 75%;
  }
  .col.xs-10 {
    width: 83.333333%;
  }
  .col.xs-11 {
    width: 91.666666%;
  }
}

@media (min-width: 576px) {
  .col.sm-1 {
    width: 8.333333%;
  }
  .col.sm-2 {
    width: 16.666666%;
  }
  .col.sm-3 {
    width: 25%;
  }
  .col.sm-4 {
    width: 33.333333%;
  }
  .col.sm-5 {
    width: 41.666666%;
  }
  .col.sm-6 {
    width: 50%;
  }
  .col.sm-7 {
    width: 58.333333%;
  }
  .col.sm-8 {
    width: 66.666666%;
  }
  .col.sm-9 {
    width: 75%;
  }
  .col.sm-10 {
    width: 83.333333%;
  }
  .col.sm-11 {
    width: 91.666666%;
  }
  .col.sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col.md-1 {
    width: 8.333333%;
  }
  .col.md-2 {
    width: 16.666666%;
  }
  .col.md-3 {
    width: 25%;
  }
  .col.md-4 {
    width: 33.333333%;
  }
  .col.md-5 {
    width: 41.666666%;
  }
  .col.md-6 {
    width: 50%;
  }
  .col.md-7 {
    width: 58.333333%;
  }
  .col.md-8 {
    width: 66.666666%;
  }
  .col.md-9 {
    width: 75%;
  }
  .col.md-10 {
    width: 83.333333%;
  }
  .col.md-11 {
    width: 91.666666%;
  }
  .col.md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col.lg-1 {
    width: 8.333333%;
  }
  .col.lg-2 {
    width: 16.666666%;
  }
  .col.lg-3 {
    width: 25%;
  }
  .col.lg-4 {
    width: 33.333333%;
  }
  .col.lg-5 {
    width: 41.666666%;
  }
  .col.lg-6 {
    width: 50%;
  }
  .col.lg-7 {
    width: 58.333333%;
  }
  .col.lg-8 {
    width: 66.666666%;
  }
  .col.lg-9 {
    width: 75%;
  }
  .col.lg-10 {
    width: 83.333333%;
  }
  .col.lg-11 {
    width: 91.666666%;
  }
  .col.lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col.xl-1 {
    width: 8.333333%;
  }
  .col.xl-2 {
    width: 16.666666%;
  }
  .col.xl-3 {
    width: 25%;
  }
  .col.xl-4 {
    width: 33.333333%;
  }
  .col.xl-5 {
    width: 41.666666%;
  }
  .col.xl-6 {
    width: 50%;
  }
  .col.xl-7 {
    width: 58.333333%;
  }
  .col.xl-8 {
    width: 66.666666%;
  }
  .col.xl-9 {
    width: 75%;
  }
  .col.xl-10 {
    width: 83.333333%;
  }
  .col.xl-11 {
    width: 91.666666%;
  }
  .col.xl-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col.xl--10,
  .col.xl--20,
  .col.xl--30,
  .col.xl--40,
  .col.xl--50,
  .col.xl--60,
  .col.xl--70,
  .col.xl--80,
  .col.xl--90,
  .col.xl--100,
  .col.lg--10,
  .col.lg--20,
  .col.lg--30,
  .col.lg--40,
  .col.lg--50,
  .col.lg--60,
  .col.lg--70,
  .col.lg--80,
  .col.lg--90,
  .col.lg--100,
  .col.md--10,
  .col.md--20,
  .col.md--30,
  .col.md--40,
  .col.md--50,
  .col.md--60,
  .col.md--70,
  .col.md--80,
  .col.md--90,
  .col.md--100 {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .col.sm--10,
  .col.sm--20,
  .col.sm--30,
  .col.sm--40,
  .col.sm--50,
  .col.sm--60,
  .col.sm--70,
  .col.sm--80,
  .col.sm--90,
  .col.sm--100,
  .col.xs--100 {
    width: 100%;
  }
  .col.xs--10 {
    width: 10%;
  }
  .col.xs--20 {
    width: 20%;
  }
  .col.xs--30 {
    width: 30%;
  }
  .col.xs--40 {
    width: 40%;
  }
  .col.xs--50 {
    width: 50%;
  }
  .col.xs--60 {
    width: 60%;
  }
  .col.xs--70 {
    width: 70%;
  }
  .col.xs--80 {
    width: 80%;
  }
  .col.xs--90 {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .col.sm--10 {
    width: 10%;
  }
  .col.sm--20 {
    width: 20%;
  }
  .col.sm--30 {
    width: 30%;
  }
  .col.sm--40 {
    width: 40%;
  }
  .col.sm--50 {
    width: 50%;
  }
  .col.sm--60 {
    width: 60%;
  }
  .col.sm--70 {
    width: 70%;
  }
  .col.sm--80 {
    width: 80%;
  }
  .col.sm--90 {
    width: 90%;
  }
  .col.sm--100 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col.md--10 {
    width: 10%;
  }
  .col.md--20 {
    width: 20%;
  }
  .col.md--30 {
    width: 30%;
  }
  .col.md--40 {
    width: 40%;
  }
  .col.md--50 {
    width: 50%;
  }
  .col.md--60 {
    width: 60%;
  }
  .col.md--70 {
    width: 70%;
  }
  .col.md--80 {
    width: 80%;
  }
  .col.md--90 {
    width: 90%;
  }
  .col.md--100 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col.lg--10 {
    width: 10%;
  }
  .col.lg--20 {
    width: 20%;
  }
  .col.lg--30 {
    width: 30%;
  }
  .col.lg--40 {
    width: 40%;
  }
  .col.lg--50 {
    width: 50%;
  }
  .col.lg--60 {
    width: 60%;
  }
  .col.lg--70 {
    width: 70%;
  }
  .col.lg--80 {
    width: 80%;
  }
  .col.lg--90 {
    width: 90%;
  }
  .col.lg--100 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col.xl--10 {
    width: 10%;
  }
  .col.xl--20 {
    width: 20%;
  }
  .col.xl--30 {
    width: 30%;
  }
  .col.xl--40 {
    width: 40%;
  }
  .col.xl--50 {
    width: 50%;
  }
  .col.xl--60 {
    width: 60%;
  }
  .col.xl--70 {
    width: 70%;
  }
  .col.xl--80 {
    width: 80%;
  }
  .col.xl--90 {
    width: 90%;
  }
  .col.xl--100 {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .hidden.xs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden.sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden.md {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden.lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hidden.xl {
    display: none;
  }
}
