button {
  background: transparent;
}

.form-item {
  margin-bottom: 20px;
}

.textbox {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 15px 20px;
  transition: all .2s ease;
}

.textbox:focus {
  border: 1px solid #4CAF50;
}

textarea {
  resize: vertical;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #4CAF50;
  padding: 15px 40px;
  color: #fff;
  background: #4CAF50;
  cursor: pointer;
  transition: background .2s ease;
}
.button:hover,
.button:focus {
  color: #fff;
  background: #388E3C;
  border-color: #388E3C;
}
.button:active {
  color: #fff;
  background: #1B5E20;
  border-color: #1B5E20;
}
