/*BAU Star*/

@import "_modules/_normalize.scss";
@import "_modules/_alt.scss";
@import "_modules/_alt.grid.scss";
@import "_modules/_forms.scss";

@import "_blocks/_header.scss";
@import "_blocks/_showcase.scss";
@import "_blocks/_projects.scss";
@import "_blocks/_counters.scss";
@import "_blocks/_about.scss";
@import "_blocks/_phone.scss";

@import "_blocks/_footer.scss";


// 4CAF50
// 388E3C
// 1B5E20

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

.text-green {
  color: #4CAF50;
}
.text-red {
  color: #F44336;
}

.bo {
  margin: 40px 0;
}

.block-t {
  padding:100px 0 20px;
}
.block-title {
  border-left: 8px solid #4CAF50;
  padding-left: 20px;
}
.block-title h1 {
  display: inline-block;
}

.partner-item {
  display: inline-block;
  margin: 0 10px;
  opacity: .4;
  transition: opacity .2s ease;
}
.partner-item:hover,
.partner-item:focus {
  opacity: .6;
}
.partner-item:active {
  opacity: 1;
}

.partner-item img {
  display: block;
  height: 80px;
}

.a-delay-1 {animation-delay:.5s;}
.a-delay-2 {animation-delay:1s;}
.a-delay-3 {animation-delay:1.5s;}
.a-delay-4 {animation-delay:2s;}
.a-delay-5 {animation-delay:2.5s;}

.google-map {
  width: 100%;
  height: 450px;
}

.gallery-item {
  padding: 5px;
  transition: box-shadow .4s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.galley-item-inner {
  overflow: hidden;
  position: relative;
}

.gallery-item-img {
  transition: .4s ease;
}

.gallery-item-cover {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,.6);
  color: rgba(235,235,235,.8);
  font-size: 2rem;
  opacity: 0;
  transition: .2s ease;
}

.gallery-item .fa {
  transition: .2s ease;
  transform: scale(1.2);
}

.gallery-item:hover {
  box-shadow: 0 0 3px 1px #ccc;
}

.gallery-item:hover .gallery-item-img {
  transform: scale(1.2);
}

.gallery-item:hover .gallery-item-cover {
  opacity: 1;
}

.gallery-item:hover .fa {
  transform: scale(1);
}

.building-showcase {
  position: relative;
  overflow: hidden;
}

.building-info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  width: 260px;
  color: #333;
  background: rgba(255,255,255,.6);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.8);
}

.building-svg {
  width:100% !important;
  height:auto !important;
  display:block;
}

.elevator-display {
  background:#232323;
  color:#1B5E20;
  margin:0 20px 40px;
  padding:0;
  font-size:7rem;
  font-family:'Digital-7';
}

.elevator-btn {
  color: #333;
  cursor: pointer;
  transition: color .2s ease;
  display: inline-block;
}

.elevator-btn:hover {
  color: #388E3C;
}

.elevator-btn:active {
  color: #1B5E20;
}

.w100 {
  width:100%;
}

.fixed-heading {
  padding-top: 80px;
}

.heading {
  background: url('../img/slider/images/1.jpg') no-repeat center / cover;
  color: #fff;
  transition: all .2s linear;
}
.sv-title {
  display: block;
  position:absolute;
  color:#fff !important;
  text-align:center;
  width:86px;height:86px;
  display: none;
  cursor: pointer;
  animation-duration:.2s;
}
.sv-title-cover {
  background:#388E3C;
  z-index:14;
  position:absolute;
  top:0;left:0;
  right:0;bottom:0;
  transform:rotate(20deg);
}
.sv-title-text {
  font-family: "BPG Square Mtavruli";
  position:absolute;
  z-index:15;
  top:0;left:0;
  right:0;bottom:0;
  padding: 19px 0;
  font-size: 1rem;
}
.sv-title.active {
  display: block;
}
.sv-sold {
  transform: rotate(35deg);
  font-family: 'BPG Square Mtavruli';
  display: block;
  padding: 10px 20px;
  position: absolute;
  color: #fff !important;
  background: #D32F2F;
  cursor: default;
  z-index: 14;
}

.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-top-10{margin-top:10px;}
.margin-top-20{margin-top:20px;}
.margin-top-30{margin-top:30px;}

.contact-list li {
  padding-left: 25px;
  position: relative;
}

.contact-list li .fa {
  position: absolute;
  line-height: 24px;
  left: 0; top: 0;
}

.calc {
  font-family: 'BPG Square Mtavruli';
  border: 2px solid #4CAF50;
  display: block;
  float: left;
  font-size: 1.2rem;
  margin: 0 15px;
  padding: 9px 15px;
  background: #fff;
  text-transform: uppercase;
}

.calc-select {
  padding: 10px 15px
}

.calc-text {
  width: 100px;
}

.calc-right {
  float: right;
  cursor: default;
}

.calc-symbol {
  font-weight:bold;
  font-size:1.2rem;
  line-height:50px;
  float:left;
  cursor:default;
}

.calc-floors {
  cursor: pointer;
  position: relative;
}

.floor-dropdown {
  position: absolute;
  top: 48px; right: -2px;
  width: 230px;
  background: #fff;
  list-style: none;
  padding: 10px 5px 0;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.6);
  transform-origin: top right;
  transition: transform .2s ease;
  transform: scale(0);
}

.floor-dropdown li {
  float: left;
  margin: 0 5px 10px
}

.floor-dropdown li a {
  font-size: 1rem;
  display: block;
  border-radius: 100%;
  padding: 6px;
  width: 24px;
  height: 24px;
  text-align: center;
  transition: all .2s ease;
}

.floor-dropdown li a:hover,
.floor-drowdown li a:focus {
  background: rgba(0,0,0,.1);
}

.floor-dropdown li a:active {
  background: rgba(0,0,0,.2);
}

.calc-floors.active .floor-dropdown {
  transform: scale(1);
}

.err404 {
  padding: 40px 50px 50px;
  background: rgba(0,0,0,.8);
  color: #fff;
}

.progressive {
  border-top:4px solid #4CAF50;
  text-align:right;
  width:0%;
  min-width:200px;
  transition: 2s ease-out;
  margin-bottom:20px;
}

.prog-span {
  display:block;
  padding:4px 10px;
  font-family:'BPG Square Mtavruli';
}

.prog-num {
  font-weight:bold;
  color:#4CAF50;
}



@media (max-width: 575px) {
  #wowslider-container1 .ws-title {
    display: none;
    visibility: hidden;
  }
  body {
    background: #fff;
  }
  .parallax {
    background-position: center !important;
  }
  .animated,
  .wow {
    -webkit-animation: none!important;
    animation: none!important;
    visibility: visible!important;
  }
  h1,
  .h1 {
    font-size: 26px;
  }

  h2,
  .h2 {
    font-size: 22px;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  h4,
  .h4 {
    font-size: 1rem;
  }
  .project-title,
  .project-item.alternative .project-title {
    padding: 0 10px;
    text-align: center;
  }
  .project-title .fa,
  .project-picker,
  .project-gradient {
    display: none;
  }
  .project-list {
    padding: 10px;
    font-size: 1rem;
  }
  .project-headline-bg:before,
  .project-headline-bg:after {
    content: none;
    display: none;
  }
  .counter-item-title,
  .phone-number {
    font-size: 1.2rem;
  }
  .counter-item-number{
    font-size: 2rem;
  }
  .phone-img{
    width: 28px;height: 28px;
  }
  .block {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .divider {
    margin: 20px auto;
  }
  .google-map {
    height: 300px;
  }
  .boxer {
    padding: 10px;
    border: 0;
    background: transparent;
  }
  .progressive {
    width: 100%!important;
    text-align: center;
  }
  .container,
  .col {
    padding: 0;
  }
  .row {
    margin: 0;
  }
} //xs
@media (max-width: 767px) { //sm
  .footer-social {
    text-align: center;
  }
  .footer-social .pull-left,
  .footer-social .pull-right {
    float: none;
  }
  .footer-social .pull-left {
    margin-bottom: 20px;
  }
  .sm-mb-20 {
    margin-bottom: 20px;
  }
} //sm
@media (max-width: 991px) {
  .fixed-heading {
    padding: 0;
  }
  .header {
    background: #fff;
    border-color: #4CAF50;
    position: relative;
  }
  .header .header-logo {
    left: 0 !important;
    margin-left:10px;
  }
  .header .header-logo img {
    height: 60px;
  }
  .header .nav-btn {
    display: block!important;
    margin-right:10px;
  }
  .header-menu-item a {
    padding: 15px 0!important;
    text-align: center;
  }
  .header-menu,
  .header-logo,
  .header-menu-item {
    float: none;
  }
  .header-logo {
    display: inline-block;
  }
  .header.scrolled .header-menu,
  .header-menu {
    display: none;
  }
  .header-menu-item a:before {
    content: none;
  }
  .hidden-md {
    display: none;
  }
  #wowslider-container1 .ws-title {
    left: 50px;
  }
  #wowslider-container1 .ws-title span {
    font-size: 2em;
  }
  .building-info {
    display: none;
  }
} //md
