.counters {
  background: url('../img/handshake.jpg') no-repeat center / cover;
  transition: all .2s linear;
}
.counters-blur {
  background: rgba(0,0,0,0.4);
}
.counter-item {
  color: #fff;
}
.counter-item-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.counter-item-number {
  font-size: 3rem;
}
