.footer {
  background: #232323;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'BPG Square Mtavruli';
}

.bunny {
  background: url('../img/bunny.png') no-repeat center left / auto 100%;
  padding-left: 16px;
}
