.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: rgba(255,255,255,.6);
  border-bottom:2px solid #4CAF50;
  transition: all .2s ease;
}

.header-content {
  position: relative;
}

.header-logo {
  float: left;
  display: block;
  transition: .5s ease;
  position: relative;
  //left: calc(50% - 184px);
  left:0;
  line-height: 0;
  padding: 10px 0 8px;
}

.header-logo img {
  transition: .2s ease;
  display: block;
  height: 100px;
}

.header-menu {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
  //display: none;
  font-family: 'BPG Square Mtavruli';
  text-transform: uppercase;
}

.header-menu-item {
  float: left;
}

.header-menu-item a {
  display: block;
  padding: 47px 20px;
  transition: all .2s ease;
  position: relative;
  cursor: pointer;
}

.header-menu-item a:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #4CAF50;
  transform: scaleX(0);
  transition: all .2s ease;
}

.header-menu-item a:hover:before {
  transform: scaleX(1);
}

.header-menu-item a:hover {
  background: rgba(250,250,250,.4);
}

.header-menu-item a:active {
  background: rgba(245,245,245,.4);
}


.nav-btn {
  display: none;
  margin: 27.2px 0;

  // float: right;
  position: absolute;
  top:0; right:0;
  z-index: 6000;

  width: 40px;
  height: 32px;
  // position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: all .5s ease-in-out, margin .2s ease;
  cursor: pointer;

  transform: scale(.8);
}

.nav-btn span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #555;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.nav-btn span:nth-child(1) {
  top: 0px;
}
.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 12px;
}
.nav-btn span:nth-child(4) {
  top: 24px;
}
.nav-btn.active span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
.nav-btn.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-btn.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-btn.active span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.header.scrolled {
  background: #fff;
  border-color: #4CAF50;
}

// .header.scrolled .header-logo {
//   left: 0 !important;
// }

.header.scrolled .header-logo img {
  height: 60px;
}

.header.scrolled .header-menu-item a {
  padding: 27px 20px;
}


.header.scrolled .header-menu-item a:hover {
  background: rgba(250,250,250,1);
}

.header.scrolled .header-menu-item a:active {
  background: rgba(245,245,245,1);
}

// .header.scrolled .header-menu {
//   display: block;
// }
