.phone {
  background-image:url('../img/contact.jpg');
}

.phone-box {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  background: rgba(0,0,0,.4);
}

.phone-img {
  display: block;
  height: 48px;
  width: 48px;
  float: left;
  animation-iteration-count: infinite;
}

.phone-number {
  margin-left: 20px;
  font-size: 2rem;
  float: left;
}
