.project-item {
  position: relative;
  margin-bottom: 40px;
}
.project-item .col {
  z-index: 3;
  position: relative;
}

.project-headline-bg {
  position: absolute;
  top: 31px;
  left: 0; right: 0;
  width: 100%;
  height: 46px;
  background: #4CAF50;
  z-index: 1;
}

.project-headline-bg:after{
  content: "";
  display: block;
  position: absolute;
  top:0;left:100%;
  border-top:23px solid #4CAF50;
  border-left:23px solid #4CAF50;
  border-right:23px solid transparent;
  border-bottom:23px solid transparent;
}

.project-headline-bg:before{
  content: "";
  display: block;
  position: absolute;
  top:0;right:100%;
  border-bottom:23px solid #4CAF50;
  border-right:23px solid #4CAF50;
  border-left:23px solid transparent;
  border-top:23px solid transparent;
}

.project-boxer {
  position: relative;
  display: block;
}

.project-img {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.project-gradient {
  position: absolute;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  top: 0; right: 0; bottom: 0; left: 0;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=1 ); /* IE6-9 */
  z-index: 8;
}

.project-button {
  position:absolute;
  bottom:0;
  left:0;
  z-index:10;
  opacity: 0;
  transition: opacity .5s ease, background .2s ease;
}

.project-tooltip {
  font-family:'BPG Square Mtavruli';
  transform:rotate(-45deg);
  background:#4CAF50;
  padding:15px 100px;
  position:absolute;
  font-size:1.2rem;
  left:-100px;
  color:#fff;
  z-index:21;
  top:25px;
  text-transform: uppercase;
}
.project-tooltip.red {
  background: #F44336;
}

.project-picker {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 10;
}
.project-img-item {
  margin-top: 20px;
  cursor: pointer;
  display: block;
  padding: 3px;
  border: 1px solid rgba(0,0,0,.2);
  background: rgba(255,255,255,.6);
  transition: all .3s ease;
  transform: translateX(100%);
  opacity: 0;
}
.project-img-item.delay-1 {
  transition-delay: .15s;
}
.project-img-item.delay-2 {
  transition-delay: .3s;
}
.project-img-item.delay-3 {
  transition-delay: .45s;
}
.project-img-item.delay-4 {
  transition-delay: .6s;
}
.project-img-item.delay-5 {
  transition-delay: .75s;
}
.project-img-item.delay-6 {
  transition-delay: .9s;
}

.project-img-item:hover {
  background: rgba(255,255,255,.8);
}

.project-img-item img{
  display: block;
  width: 36px;
  height: 36px;
}

.project-collage {
  position: relative;
  z-index: 6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding-bottom: 56.25%;
  transition: background-image .3s ease;
}

.project-headline {
  background: #4CAF50;
  height: 46px;
  position: absolute;
  z-index: 3;
  top: 30px;
  left: -1px;right: -1px;
}

.project-info {
  padding-top: 31px;
}

.project-title {
  position: relative;
  height: 46px;
  background: #4CAF50;
  padding-left: 20px;
}

.project-title h2 {
  line-height: 46px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
}

.project-list {
  padding: 15px 20px;
  font-size: 1.2rem
}

.project-item.alternative .project-info{
  text-align: right;
}

.project-item.alternative .project-title {
  padding-left: 0;
  padding-right: 20px;
}

.project-item.alternative .project-title:after{
  right:100%;
  left: auto;
  border-bottom:23px solid #4CAF50;
  border-right:23px solid #4CAF50;
  border-left:23px solid transparent;
  border-top:23px solid transparent;
}

.project-item.alternative .project-tooltip {
  left: auto;
  right: -100px;
  transform: rotate(45deg);
}

.project-item.alternative .project-headline:before{
  left:100%;
  right: auto;
  border-top:23px solid #4CAF50;
  border-left:23px solid #4CAF50;
  border-right:23px solid transparent;
  border-bottom:23px solid transparent;
}

.project-item.alternative .project-picker {
  left: 20px;
  right: auto;
}

.project-item.alternative .project-img-item {
  transform: translateX(-100%);
}

.project-item.alternative .col.md--60 {
  float: right;
}

.project-item.alternative .project-gradient {
  background: -moz-linear-gradient(right,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=1 ); /* IE6-9 */
}

.project-item.alternative .project-button {
  left: auto;
  right: 0;
}

.project-boxer:hover .project-gradient,
.project-boxer:hover .project-button {
  opacity: 1;
}

.project-boxer:hover .project-img-item {
  transform: none;
  opacity: 1;
}
